/* Reset do atributos do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilização de área gerais padrões do site */

/* Estilizacao do body */
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/* Estilizacao do cabecalho */
header{
    height: 100px;
    background-color: #000;
    color: white;
}
/* Estilizacao padrão cabeçakho */
.tam-conteudo{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logo-img{
    height: 80px;
    width: 80px;
    background-color: #b28756;
    border-radius: 40px ;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;

}
.menu li a:hover{
    border-bottom: 5px solid #b28756;
}
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #b28756;
}
.botao{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image:url(../Imagens/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
}
.banner .indicadores-sliders{
    width: 100vw;/* tomando toda area da tela */
    height: 20px;/* altura normal */
    position: absolute;/* So para ele se posicionar acima do elemento pai */
    margin-top: -50px;/* Para ele subir para cima do elemento pai */
    /* posicionamento dos elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bolinha{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.banner .bolinha.active{
    background-color: #b28756;
}
.padrao{
    padding-top: 50px;
    padding-bottom: 50px;
}
.padrao .titulo,
.padrao .descricao{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.padrao .titulo{
    font-size: 20px;
}
.padrao .descricao{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #ccc;
}
.padrao .corpo{
    max-width: 1140px;
    margin: auto;
}
.padrao.claro{
    background-color: #f7f7f7;
}
.padrao.claro .titulo{
    color: #000;
}
.padrao.claro .corpo{
    color: #000;
}
.padrao.escuro{
    background-color: #000;
}
.padrao.escuro .titulo{
    color: #f7f7f7;
}
.padrao.escuro .corpo{
    color: #f7f7f7;
}


/* Estilização de áreas isoladas do site */


.cont-corpo{
    display: flex;
}
.cont-corpo .cont-esquerdo{
    flex: 1;
}
.cont-corpo .cont-esquerdo p{
    font-size: 14px;
    line-height: 25px;
}
.cont-corpo .cont-direito{
    width: 500px;
    text-align: center;
}
.cont-corpo .cont-direito img{
    width: 450px;
    box-shadow: 5px 5px 10px #333;
}
/* Section Serviços */
.padrao.escuro .servicos-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.padrao.escuro .corpo .elemento1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    width: 200px;
}
.padrao.escuro .corpo .elemento2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    width: 200px;
}
.padrao.escuro .corpo .elemento3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    width: 200px;
}
.padrao.escuro .corpo .elemento4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    padding: 15px;
    height: 150px;
    width: 200px;   
}
.padrao.escuro .corpo .elemento1 .titulo-elemento1,
.padrao.escuro .corpo .elemento2 .titulo-elemento2,
.padrao.escuro .corpo .elemento3 .titulo-elemento3,
.padrao.escuro .corpo .elemento4 .titulo-elemento4{
    font-size: 15px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
}
.padrao.escuro .corpo .elemento1 .descricao-elemento1,
.padrao.escuro .corpo .elemento2 .descricao-elemento2,
.padrao.escuro .corpo .elemento3 .descricao-elemento3,
.padrao.escuro .corpo .elemento4 .descricao-elemento4{
    font-size: 8px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    color: #999;
}
.padrao.escuro .corpo .elemento1 .icone-elemento1,
.padrao.escuro .corpo .elemento2 .icone-elemento2,
.padrao.escuro .corpo .elemento3 .icone-elemento3,
.padrao.escuro .corpo .elemento4 .icone-elemento4{
    flex: 1;
    margin-bottom: 5px;
}
/* Section Nossos projetos */
.sessao-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-produtos{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.menu-produtos ul,
.menu-produtos li{
    list-style: none;
}
.menu-produtos li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.menu-produtos li:hover,
.menu-produtos li.active{
    border-bottom: 3px solid #b28756;    
}
.menu-produtos li:first-child{
    border-left: none;
}
.todas-fotos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.todas-fotos .foto{
    width: 280px;
}
.todas-fotos .area-foto{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.todas-fotos .area-foto img{
    width: inherit;
    height: inherit;
}
.todas-fotos .foto-info{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.todas-fotos .foto-info h5{
    font-size: 18px;
    font-weight: 600;
}
.area-foto:hover .foto-info {
    display: flex;
}
/* Section nosso time */
.bg-time{
    background-image: url(../Imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
    
}
.area-time{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 
    50px;
}
.time{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.time .sliders{
    width: 1000vw;
    height: 100%;
}
.time .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
    min-height: 300px;
}
.time .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.area-time .indicadores-sliders{
    margin-top: 30px;
    height: 20px;/* altura normal */
    /* posicionamento dos elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-time .bolinha{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.area-time .bolinha.active{
    background-color: #b28756;
}
